<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css"> 
    </head>
    <body>
        {{>header}} 
        <p>test text</p>
        <img src="img/me.jpg">
        {{>footer}}
    </body>
</html>